* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
/* body {
  overflow: hidden;
} */
html body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.align__center {
  display: flex;
  align-items: center;
}
.icon {
  color: #767678;
  width: 24px;
  margin: 0;
  padding: 0;
}
